<% breadcrumb :my_page_edit, @user%>

<div class="container">
  <h2>email/password編集</h2>
  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), id: 'edit_user', class: 'edit_user', local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :new_email %><i>(変更ない場合は現在のemailを入力してください)</i><br />
      <%= f.email_field :email, placeholder: "PC・携帯どちらでも可" %>
    </div>

    <div class="field">
      <%= f.label :new_password %><i>(変更ない場合は空白にしておいてください)</i><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "6文字以上の半角英数字" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "同じパスワードを入力して下さい" %>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "現在のパスワードを入力してください" %>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
</div>