<%= render "shared/header" %>

<div class="top-page">
  <!-- 背景画像 -->
  <div class="background-image">
    <%= image_tag "disease_dog.webp" %>
  </div>

  <!-- テキストとボタン -->
  <div class="content">
    <% if user_signed_in? %>
      <h1>ようこそ、<%= current_user.user_name %>さん</h1>
      <%# <%= link_to 'マイページ', user_path(current_user), class: 'btn' %> 
      <%= link_to '患者一覧', user_patients_path(current_user), class: 'btn' %>
    <% else %>
      <h1>Welcome to Disease Log</h1>
      <%# <%= link_to 'ログイン', new_user_session_path, class: 'btn' %>
      <%# <%= link_to 'サインアップ', new_user_registration_path, class: 'btn' %> 
    <% end %>
  </div>
</div>