<h1><%= @user.user_name %>さんの患者一覧</h1>

<%= link_to '新しい患者を追加', new_user_patient_path(@user), class: 'btn' %>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= link_to patient.patient_name, user_patient_path(@user, patient) %>
      (<%= link_to '編集', edit_user_patient_path(@user, patient) %>)
      (<%= link_to '削除', user_patient_path(@user, patient), method: :delete, data: { confirm: '本当に削除しますか？' } %>)
    </li>
  <% end %>
</ul>