<%= render "shared/header" %>
<h1><%= @patient.patient_name %>さん</h1>
<%= link_to '患者さん情報編集', edit_user_patient_path(@user, @patient), class: 'btn'%>
<%= link_to '患者さん情報削除', user_patient_path(@user, @patient), data: {turbo_method: :delete}, class: 'btn' %>

<h2>疾患一覧</h2>
<ul>
  <% @diseases.each do |disease| %>
    <li>
      <%= link_to disease.disease_name, user_patient_disease_path(@user, @patient, disease) %>
      （<%= disease.date_of_onset.strftime('%Y-%m-%d') %> 発症）
    </li>
  <% end %>
</ul>

<%= link_to '疾患の追加', new_user_patient_disease_path(@user, @patient), class: 'btn' %>