<% breadcrumb :patient_show, @user, @patient %>
<div class="center-content">
  <h1><%= @patient.patient_name %>さん</h1>
  <div>性別：<%= @patient.sex.name %></div>
  <div>生年月日：<%= @patient.birthday %></div>

  <div class="button-group">
    <%= link_to '編集', edit_user_patient_path(@user, @patient), class: 'btn' %>
    <%= link_to '削除', user_patient_path(@user, @patient), data: { turbo_method: :delete }, class: 'btn' %>
  </div>

  <h2>疾患一覧</h2>
  <table>
    <thead>
      <tr>
        <th>疾患名</th>
        <th>発症日</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @diseases.each do |disease| %>
        <tr>
          <td><%= link_to disease.disease_name, user_patient_disease_path(@user, @patient, disease) %></td>
          <td><%= disease.date_of_onset.strftime('%Y-%m-%d') %></td>
          <td><%= disease.status.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '疾患の追加', new_user_patient_disease_path(@user, @patient), class: 'btn' %>
</div>