<!DOCTYPE html>
<html>
  <head>
    <title>DiseaseLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>

    <div class="floating-button">
      <%= link_to '近くの病院を探す', map_path, class: 'btn btn-primary' %>
    </div>

  </body>
</html>
